ul { 
 list-style-type: none;
  margin: 0;
  padding:0;
}
body{
    background-image: url(cbhspic);
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
li a {
    float:left;
    display:block;
    text-align:center;
    background-color:black;
    border-style:solid;
    border-color:blue;
    padding:5px;
    width:21%;
    height:101px;
}
li a:hover {
    background-color: blue; 
}
.header {
    width: 100%;
}
.logo {
    float: left;
}
.main {
    text-align: center;
}